
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#navadmin{
  position: fixed; /* Make the black background fixed */
  top: 0; /* Position it at the top of the page */
  left: 0; /* Position it at the left edge of the page */
  width: 100%; /* Make it span the entire width of the page */
  height: 100vh; /* Make it span the entire viewport height */
  z-index: 100;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00;
}
#infoadmin{
    position: relative; /* Make the white content relative to its parent */
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the white content horizontally */
  padding: 20px; /* Add padding for spacing */
  background-color: #fff; /* Set the background color to white */
  z-index: 1;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table td img {
    max-width: 50px;
    height: auto;
}


.action-buttons {
    display: flex;
    gap: 10px;
}
.action-buttons button {
    padding: 5px 10px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}
.action-buttons button:hover {
    background-color: #ffcc00;
}
form {
    margin-top: 20px;
}
form input, form select {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

body{
  background-color: #CBE7E3;
}
.container {
  max-width: 20%;
  background: #f8f9fd;
  background: linear-gradient(to bottom, #05999E, #CBE7E3);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: black;
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 90%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: black;
}

.form .input::placeholder {
  color: black;
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12b1d1;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: black;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: #05999E;
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  display: block;
  text-align: center;
  font-size: 15px;
  color: black;
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

